<!DOCTYPE html>
<html>
    <head>
        <title>Raspberry Pi</title></head>
        <link rel="stylesheet" href="../static/profile.css">
    <body>
        <div class="form">
            <form method="post" >
                    <div class="boxes">
                        <input type="checkbox" value="1" name="checkbox" id="box1">
                        <label for="box1">Relay One</label>
                    </div>
                    <div class="boxes">
                        <input type="checkbox" value="2" name="checkbox" id="box2" >
                        <label for="box2">Relay Two </label>
                    </div>
                    <div class="boxes">
                        <input type="checkbox" value="3" name="checkbox" id="box3">
                        <label for="box3">Relay Three</label>
                    </div>
                   <button class="myButton" type="submit">Execute Command</button>
           </form>
        </div>
    </body>
</html>





